.profil_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.profil_box {
  width: 80%;
  position: relative;
}

.avatar_container {
  position: relative;

  #form_upload_image {
    width: 100%;
    position: absolute;
  }

  #upload_button_icon {
    width: 18px;
    color: white;
  }

  #upload_button {
    bottom: 30px;
    right: -90px;
    width: 35px;
    height: 0px;
  }
}

.box_accordion {
  width: 80%;
  margin-bottom: 100px;
}

#delete_account_button {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

@media screen and (max-width: 1080px) {
  .profil_box {
    width: 95%;
  }
  .box_accordion {
    width: 100%;
  }
}
