.card {
  position: relative;
}

.card_footer {
  display: flex;
  justify-content: space-between;
}

#favorite_icon {
  color: rgb(255, 22, 61);
  float: right;
}

@media screen and (max-width: 370px) {
  #grid_cards {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
